{
    "port": 3000,
    "protocol": "https",
    "cert": "{{ cert_pem }}",
    "key": "{{ key_pem }}",
    "stubs": [
        {
          "responses": [
            { "is": { "body": "54" } },
            { "is": { "body": "21" } },
            { "is": { "body": "0" } }
          ]
        }
  ]
}
